*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 0 auto;
}
.navbar{
    background-color: #FFFFFF;
    padding: 20px;;
    /* border: 4px solid teal; */
    display: flex;
    justify-content:space-between;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
   
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;

}
.nav-btn{
background-color: #469165;
color:#FFFFFF ;
padding: 16px 12px;
border: none;
border-radius: 4px;
margin-right: 50px;
margin-bottom: 24px;

}
header .hero{
    background-image: url(images/assets/hero-bg.png);
    height: 674px;
    background-size: cover;
  padding: 115px 120px 180px 120px;
}

    .hero .hero-content{
        max-width: 1360px;
    text-align: center;
    margin:0 auto;
     /* border: 4px solid rebeccapurple; */
    }
.hero-content h4{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    width: 229px;
    margin: 0 auto 24px;

}
.color-green{
    color: #30B868;
}
.hero-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;

}
.hero-content p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    color: #FFFFFF;
    width: 770px;
    margin: 0 auto 32px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
   
   

} 
.btn{ padding: 16px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
   border: none;
    height: 52px;
     background-color: #469165;
    
    color: #FFFFFF;

}

.btn1{
   background-color: transparent;
    border: 1px solid white;

}
