*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    margin: 0 auto;
}
.navbar{
    background-color: #FFFFFF;
    padding: 20px;;
    /* border: 4px solid teal; */
    display: flex;
    justify-content:space-between;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
}
.menu{
    display: flex;
    gap: 32px;
    list-style: none;
   
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;

}
.nav-btn{
background-color: #469165;
color:#FFFFFF ;
padding: 16px 12px;
border: none;
border-radius: 4px;
margin-right: 50px;
margin-bottom: 24px;
margin-top: 15px;


}
header .hero{
    background-image: url(images/assets/hero-bg.png);
    height: 674px;
    background-size: cover;
  padding: 115px 120px 180px 120px;
}

    .hero .hero-content{
        max-width: 1360px;
    text-align: center;
    margin:0 auto;
     /* border: 4px solid rebeccapurple; */
    }
.hero-content h4{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    width: 229px;
    margin: 0 auto 24px;

}
.color-green{
    color: #30B868;
}
.hero-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;

}
.hero-content p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    color: #FFFFFF;
    width: 770px;
    margin: 0 auto 32px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
   
   

} 
.btn{ padding: 16px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
   border: none;
    height: 52px;
     background-color: #469165;
    
    color: #FFFFFF;

}

.btn1{
   background-color: transparent;
    border: 1px solid white;

}
.middle{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center; 
    /* background-color: #627382; */
}
.middle-text{
padding-top: 50px;
}

.middle-text h2{
    font-size: 48px;
    font-weight:bold ;
    margin-bottom: 16px;
}
.middle-text p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 44px;
}
.middle-cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 120px;
   
   
}
.card{
     padding:24px;
     height: 300px;
     width: 322px;
     border-radius: 4px;
     box-shadow: 0 0 8px 0 #0000002c;
     text-align: center;

}
.card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931; margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
}
.card img{
    border-radius: 100px;
    background-color: #F95555;
    padding: 14px;
    margin-bottom: 16px;
}
.solution{
    display: flex;
    max-width: 1360px;
    /* text-align: center; */
    margin: 0 auto;
    padding: 120px;
    gap: 60px;
    align-items: center;
}
.solution-content{
    margin: 120px 0px 120px 0px;
    width: 700px;
    
    text-align: left;
}
.solution-content h6{
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    color: #469165;
    margin-bottom: 16px;
}
.solution-content h4{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
margin-bottom: 16px;
}
.solution-content p{
    color: #627382;
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 40px;
     font-weight: 400px;
}
.solution-content ul {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #001931;
    list-style-image: url(images/assets/CheckCircle.png);
padding-left: 20px;
}
.last{
    text-align: center;
   
     margin:0 120px 120px 120px;
}
.last-content{
     background-color: #F7F6F2;
     margin: 0 auto;
     max-width: 1360px;
     padding: 80px 40px ;
}


.last h3 {
    font-size:  40px;
 font-weight: bold;
 color: #001931;
 margin-bottom: 16px;


   
}
.last p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 16px;
}
footer{
    background-color: #001931;
    

}
.footer-container{
    max-width: 1360px;
     margin: 0 auto;
    padding: 120px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
      max-width: 1360px;
      margin-bottom: 80px;
}
.footer-text{
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-text a{
    margin-right: 5px;
}
.footer-container hr{
    margin-bottom: 30px;
    color: #E5E7EB;
}
.copy{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;

}
 
.btn1:hover,.btn:hover,.nav-btn:hover{
     cursor: pointer;
    background-color:rgb(235, 219, 4)
}